@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Libre+Bodoni:ital@1&family=Montserrat:wght@200&family=Oleo+Script+Swash+Caps:wght@700&family=Permanent+Marker&family=Playfair+Display+SC&family=Roboto+Slab&family=Rubik+Wet+Paint&family=Satisfy&family=Shadows+Into+Light&family=Tapestry&family=Tiro+Gurmukhi&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tiro Gurmukhi', serif;

}
html{
  font-size:16
}

:root{
  --shaddow-color:rgb(209, 205, 205);
  --grey-200:rgb(109, 104, 104);
  --secondary-color:rgb(241, 236, 236);
}

.decoration-underline{
  text-decoration: underline;
}


.flex{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.gap-1r{
  gap:1rem;
}

a{
  text-decoration:none;

}

